<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ujjawalayush.example.nato">
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".IntroActivity"
            android:theme="@style/WelcomeScreenTheme" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainPage">
            <intent-filter>
                <action android:name="com.ujjawalayush.example.nato.mainpage" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".Signup">
            <intent-filter>
                <action android:name="com.ujjawalayush.example.nato.signup" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".Forgot">
            <intent-filter>
                <action android:name="com.ujjawalayush.example.nato.forgot" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".Add" >
            <intent-filter>
                <action android:name="com.ujjawalayush.example.nato.add" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".Friends" >
            <intent-filter>
                <action android:name="com.ujjawalayush.example.nato.friends" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".Profile1" >
            <intent-filter>
                <action android:name="com.ujjawalayush.example.nato.profile1" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".QuitAppActivity" >
            <intent-filter>
                <action android:name="com.ujjawalayush.example.nato.quitappactivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".AddFriends" >
            <intent-filter>
                <action android:name="com.ujjawalayush.example.nato.addfriends" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".Setting" >
            <intent-filter>
                <action android:name="com.ujjawalayush.example.nato.setting" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".Profile2" >
            <intent-filter>
                <action android:name="com.ujjawalayush.example.nato.profile2" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".ChatMain" >
            <intent-filter>
                <action android:name="com.ujjawalayush.example.nato.chatmain" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".chats" >
            <intent-filter>
                <action android:name="com.ujjawalayush.example.nato.chatmain" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".Pictures" >
            <intent-filter>
                <action android:name="com.ujjawalayush.example.nato.pictures" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".tag" >
            <intent-filter>
                <action android:name="com.ujjawalayush.example.nato.tag" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".Trip" >
            <intent-filter>
                <action android:name="com.ujjawalayush.example.nato.trip" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".Notifications" >
            <intent-filter>
                <action android:name="com.ujjawalayush.example.nato.notifications" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".Invite" >
            <intent-filter>
                <action android:name="com.ujjawalayush.example.nato.invite" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".TripInfo" >
            <intent-filter>
                <action android:name="com.ujjawalayush.example.nato.tripinfo" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".Trip1" >
            <intent-filter>
                <action android:name="com.ujjawalayush.example.nato.trip1" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".Schedule" >
            <intent-filter>
                <action android:name="com.ujjawalayush.example.nato.schedule" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".Expense" >
            <intent-filter>
                <action android:name="com.ujjawalayush.example.nato.expense" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".Recommend" >
            <intent-filter>
                <action android:name="com.ujjawalayush.example.nato.recommend" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".Tour">
            <intent-filter>
                <action android:name="com.ujjawalayush.example.nato.tour" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>